<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <bindingRedirects>
    <add key="skip" value="True" />
  </bindingRedirects>  <packageSources>    <add key="nuget.org" value="https://www.nuget.org/api/v2/" />    <add key="Custom Packages for GHfVS" value="C:\Users\zhenyuqiao\Documents\WXWork\1688850523131137\Cache\File\2018-05\vsmaster\VisualStudio-master\lib" />  </packageSources>
</configuration>
